/* Import Open Sans font from Google Fonts for a modern, clean look */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Global styles setting default font color and family */
* {
  color: #7F7F7F;
  font-family: 'Open Sans', sans-serif;
}

/* Remove default margin and padding from the body to allow full control over spacing */
body {
  margin: 0;
  padding: 0;
}

/* Main app container styled to fill available space and use a flex layout */
.App {
  background-color: #FFF;
  display: flex;
}

/* Side bar styling with a defined width, making it full height and with a light background */
.side-bar {
  background-color: #F5F5F5;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styling for navigation or historical items list, with padding and full height */
.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}

/* Removes list style and adds pointer cursor for list items to indicate clickability */
.history li {
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

/* Highlight list items on hover for visual feedback */
.history li:hover {
  background-color: #E0E0E0;
}

/* Main content area styling, centered with flexible layout */
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #374151;
}

.section__chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.sous__avi {
  height: 30px;
  width: 30px;
  border-radius: 75%;
  margin-right: 15px;
}

/* Small text section, likely for captions or disclaimers, with smaller font size */
.info {
  color: #7F7F7F;
  font-size: 11px;
  padding: 10px;
}

/* Bottom section for additional content or actions, centered */
.sous__bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container for input elements, ensuring they stay within a certain width range */
.input-container {
  position: relative;
  width: 100%;
  min-width: 350px;
  max-width: 812px;
}

/* Styling for text area inputs with subtle background, no border, and shadow for depth */
#dynamic-textarea {
  width: 100%;
  margin-right: 10px;
  padding: 0px 41px 0px 10px;
  font-size: 16px;
  min-height: 25px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-content: center;
  resize: none;
  outline: none;
  min-height: 10px;
  max-height: 300px;
  height: 52px;
  line-height: 1.5;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.sous__ingredients-list {
  margin: 15px 0;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #999;
}

/* Submit button styling, transparent with custom sizing and cursor change on hover */
.MuiButtonBase-root#submit {
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 35px;
  width: 10px;
  padding: 0px;
  align-self: flex-end;
  margin-left: -45px;
  cursor: pointer;
  min-width: 33px;
}

.MuiButtonBase-root.sous__submit--button-typing {
  background-color: #333 !important;
}

/* Changes submit button appearance on hover to indicate interactivity */
#submit:hover {
  color: #FFF;
  background-color: #333333E6 !important;
  fill: #FFF;
}

/* Ensures the submit button icon changes color appropriately on hover */
#submit:hover .up-icon {
  fill: #FFF;
}

/* Layout styling for forms, aligning items in a row for a horizontal layout */
#sous-form {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 5%;
}

/* Styling for the feed container to allow scrolling of content */
.feed {
  overflow: scroll;
  width: 100%;
  padding: 0;
  padding-bottom: 35px;
}

/* Styles paragraphs within the feed for readability, aligning text to the left */
.feed p {
  font-size: 14px;
  text-align: left;
}

/* Ensures a minimum width for elements showing roles, providing layout consistency */
.feed p.role {
  min-width: 100px;
}

/* Visual cue for interactivity on the save recipe button */
#save-recipe-button {
  cursor: pointer;
  border: 1px solid #333333;
  border-radius: 5px;
}

/* Visual cue for interactivity on the save recipe button */
#save-recipe-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Ensures consistent text color across various text elements for readability */
p,
li,
.black,
strong,
span {
  color: #333333;
}

/* Specific styling for role designation in messages, adjusting margin for alignment */
.role {
  margin-left: -52px;
}

/* Padding for message responses to ensure proper spacing within the feed */
.response {
  padding: 0 25%;
}

/* Styles the message within MUI Alert components for contrast and readability */
.MuiAlert-message {
  color: white;
}

#skeleton {
  background-color: #fff;
  width: 90% !important;
  min-width: 350px;
  max-width: 812px;
  margin-bottom: 10px;
}

/* Adjust input container and textarea styles for better usability on mobile devices */
@media (max-width: 768px) {
  .sous__subtitle {
    display: none;
  }
  .section__chat {
    padding-top: 60px;
  }

  .sous__bottom-section {
    margin-bottom: 3%;
    display: fixed;
  }

  .input-container {
    max-width: 95%;
    /* Enhance responsiveness by reducing max-width */
  }

  textarea {
    font-size: 16px;
    /* Adjust font size for smaller screens */
    padding: 10px 15px;
  }
}