/* Defines the style for the '.card-content' class, typically used within '.card' for content area. 
   It sets the margin to 0px to ensure the content area aligns neatly within the card.
   The height is explicitly set to 90px to standardize the size of the content area across cards, 
   maintaining a uniform appearance. The 'overflow: auto' property ensures that any content exceeding 
   the height limit is accessible through scrolling, making this setup flexible for varying amounts of content. */
.card-content {
   margin: 0px;
   height: 90px;
   overflow: auto;
}

.notes__button {
   display: flex;
}

.dialog__buttons {
   display: flex;
   flex-direction: column;
}

.gray-background:hover {
   background-color: #F8F8F5;
   cursor: pointer;
   justify-content: space-between;
}

.search__input {
   width: 300px;
   height: 50px;
   border: 1px solid #CCC;
   border-radius: 3px;
   background-color: #FFF;
   padding: none;
   margin: none;
   &:hover {
      border: 1px solid #000;
   }
}

.search__input>input {
   width: 70%;
   height: 40px;
   padding: none;
   margin: none;
   border: none;
}
.icon--gray {
   fill: #ced0cb !important;
}
/* Styles for the input field */
.search__input input {
   padding: 10px;
   width: 100%; /* Adjust as needed */
   box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}

/* Removes border and outline when the input is focused */
.search__input input:focus {
   border: none; /* Removes the border */
   outline: none; /* Removes the outline */
}
.search {
   width: 24px !important;
   padding: 0% !important;
   margin: 0% !important;
}

/* For popover on recipes */
.dropdown {
   margin: 5px;
   padding: 0;
   list-style-type: none;
}

.dropdownButton:hover {
   background-color: rgb(0,0,0,0.1);
}
/* Existing styles for full-width background color */
.full-width-background {
   background-color: #FFF;
}

/* Centered container with max width for the recipe cards content */
.max-width-container {
   display: flex; /* Use flexbox layout */
   flex-direction: row; /* Arrange items in a row */
   justify-content: center; /* Center the items horizontally */
   max-width: 1200px; /* Max width of the container */
   margin: 0 auto; /* Center the container */
   position: relative; /* For positioning the pseudo-element */
}

/* Full-width color behind the max-width-container */
.max-width-container::before {
   content: ''; /* Required for pseudo-elements */
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: inherit; /* Use the same background as the parent */
   z-index: -1; /* Ensure it's behind the content */
}