/* .card {
    border: 2px solid blue;
} */

.card:hover {
    box-shadow: rgba(218, 165, 32, .15) 0 54px 55px,
        rgba(218, 165, 32, .15) 0 -12px 30px,
        rgba(218, 165, 32, .15) 0 4px 6px,
        rgba(218, 165, 32, .15) 0 12px 3px,
        rgba(218, 165, 32, .15) 0 -3px 5px;
}

/* .container {
    border: 2px solid red;
} */

.card-content {
    /* border: 2px solid yellowgreen; */
    margin: 0px;
    height: 90px;
    overflow: auto;
}

/* .title {
    border: 2px solid purple;
}

.notes {
    border: 2px solid green;
} */