ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000 !important;
}
.dropdown-item {
    color: #000 !important;
}

.header__img--mobile {
    width: 25%;
    height: 90%;
    cursor: pointer;
    border-radius: 75%;
}
.icon__fill-black {
    fill: rgb(34, 34, 34) !important;
}
.icon__padding {
    padding: 10px 5px !important;
    /* margin: 50px !important; */
}
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Adjust as necessary */
    z-index: 1000; /* Ensure it's above other elements */
    border-bottom: 1px solid #d3d3d3;
  }