ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000 !important;
}
.dropdown-item {
    color: #000 !important;
}

.header__img--mobile {
    width: 25%;
    height: 100%;
    cursor: pointer;
    border-radius: 75%;
}
.icon__fill-black {
    fill: rgb(34, 34, 34) !important;
}