@font-face {
  font-family: libreFranklin;
  src: url(../../../public/fonts/LibreFranklin-VariableFont_wght.ttf);
  font-display: swap;
}

*,
*::before,
*::after {
  /* ! Great to know for the future: snaps to page and gets rid of white space */
  margin: 0;
  padding: 0;
  font-family: libreFranklin, sans-serif;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-y: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
  overflow: auto;
}

html,
body,
#react-root {
  height: 100%;
  background-color: #fff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.display-none {
  display: none;
}

*.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.align-fs {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-fe {
  justify-content: flex-end;
}

.justify-sb {
  justify-content: space-between;
}

.justify-se {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

*.color-white {
  color: #fff !important;
}

*.color-black {
  color: #000;
}

.MuiSvgIcon-root.fill-black {
  fill: black;
}

.MuiSvgIcon-root.fill-white {
  fill: white;
}

.width-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}

*.no-transform {
  text-transform: none !important;
}

.color-black {
  color: black;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

*.pointer {
  cursor: pointer;
}

*.color-717171 {
  color: #717171;
}

*.color-222 {
  color: #222 !important;
}

*.mt-0 {
  margin-top: 0;
}

*.mb-0 {
  margin-bottom: 0;
}

*.pt-0 {
  padding-top: 0;
}

*.pb-0 {
  padding-bottom: 0;
}

*.bold {
  font-weight: bold !important; /* used !important to override MUI default styling. */
}

.underline {
  text-decoration: underline;
}

.of-cover {
  object-fit: cover;
}

.list-none {
  list-style-type: none;
}
.height-auto {
  height: auto;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.landing-page__container {
  padding: auto 20px;
  background-color: #ecece6;
}

.landing-page__heading,
.landing-page__typewriter-text {
  color: #333;
}

.max-width-1200 {
  max-width: 1200px;
}

.margin-0-auto {
  margin: 0 auto;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin-top: 7% !important;
  margin: 0 auto;
  border-radius: 3px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  color: #111;
}

@media screen and (min-width: 768px) {
  .landing-page__container {
    padding: 3% 0% 20% 0%;
  }

  .landing-page__heading {
    padding-left: 10px;
    font-size: 54px;
  }

  .landing-page__heading,
  .landing-page__subheading {
    margin: 0px 20px;
  }
  .show-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .landing-page__container {
    padding-bottom: 20%;
  }

  .landing-page__heading {
    padding: 20px 0px;
  }

  .mobile-only-flex {
    display: flex;
  }

  .mobile-only-column,
  .ingredients-instructions {
    flex-direction: column;
  }

  .mobile-only-align-center {
    align-items: center;
  }
  .hide-mobile {
    display: none !important;
  }
}