@font-face {
  font-family: libreFranklin;
  src: url(../../../public/fonts/LibreFranklin-VariableFont_wght.ttf);
}
*, *::before, *::after {
  /* ! Great to know for the future: snaps to page and gets rid of white space */
  /* box-sizing: inherit; */
  margin: 0;
  padding: 0;
  font-family: libreFranklin;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-y: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
  overflow: auto;
}

html,
body,
#react-root {
  height: 100%;
  background-color: #fff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}
.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-sb {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.color-white {
  color: #fff !important;
}
.MuiSvgIcon-root.fill-black {
  fill: black;
}
.width-100 {
  width: 100%;
}
.text-left {
  text-align: left;
}
.no-decoration {
  text-decoration: none;
}
.color-black {
  color: black;
}
/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: auto 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #f8f8f8;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #DAA520;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
  background-color: #fff;
  color: #DAA520;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: rgb(246, 241, 241);
  color: #DAA520;
  text-decoration: none;
}

.btn_sizeSm:hover {
  background-color: #CCCCCC;
  color: #DAA520;
  font-weight: bold;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #333;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #333;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: lightblue;
  color: lightblue;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin-top: 7% !important;
  margin: 0 auto;
  border-radius: 3px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  color: #111;
}