.custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: inherit; /* Replace 'yourDesiredColor' with the color you want */
}

.custom-textfield .MuiInputLabel-outlined.Mui-focused {
    color: inherit; /* Replace 'yourDesiredColor' with the color you want */
}

.star__black {
    fill: black;
    color: black;
}