header {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 0%;
    max-width: 1200px;
    margin: 0 auto;
}
.header--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    flex-shrink: 0; /* Prevent the logo from shrinking */
}
.header__img {
    width: 25%;
    height: auto;
    cursor: pointer;
    border-radius: 75%;
    margin-right: 1%;
}
.header__logo strong {
    padding-left: 1%;
    height: 100%;
}
.header__container {
    width: 90%;
    display: flex;
    align-items: center;
    height: 32px;
}
.header__searchBar {
    flex-grow: 1;
    padding: 8px 12px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #F8F8F5;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
}
.header__searchBar--main {
    &:focus,
    &:active,
    &:hover {
        border: 1px solid black;
    }
}
button {
    /* Resetting or overriding default styles */
    border: none;
    background: none;
    color: inherit; /* Inherits the color from the parent */
    font-family: inherit; /* Inherits the font-family from the parent */
    font-size: inherit; /* Inherits the font-size from the parent */
}

.header__button {
    color: black !important;
}
.hover {
    border-bottom: 4px solid transparent;
    background-color: none;
    cursor: pointer;
}
.hover:hover {
    border-bottom: 4px solid red;
    background-color: none;
    cursor: pointer;
}
.icon--black {
    fill: black !important;
}
button {
    padding-bottom: .75%;
}
.button__recipe-box {
    text-transform: none !important;
    font-weight: 600 !important;
    letter-spacing: .02rem !important;
    line-height: 100% !important;
}