.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: #00acb0; original */
  background-color: #333333;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  background-color: inherit;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.icon {
  fill: #FFFFFF !important;
}

.navLink:hover {
  color: #888888;
  fill: #888888;
}

.navLink:hover .icon {
  fill: #888888 !important;
}

.navLink.active,
.navLink.active .icon {
  color: #DAA520 !important;
  fill: #DAA520 !important;
}