/* Styles for the navigation bar */
.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  overflow: hidden;
}

/* Styles for navigation links */
.nav a {
  text-decoration: none;
}

/* Styles for the navigation title */
.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

/* Styles for individual navigation links */
.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  background-color: inherit;

  /* Styles to make the logout button in the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

/* Styles for icons within navigation links */
.icon {
  fill: #FFFFFF !important;
}

/* Styles for hover effect on navigation links */
.navLink:hover {
  color: #888888;
  fill: #888888;
}

/* Styles for hover effect on icons within navigation links */
.navLink:hover .icon {
  fill: #888888 !important;
}

/* Styles for active navigation link */
.navLink.active,
.navLink.active .icon {
  color: #DAA520 !important;
  fill: #DAA520 !important;
}