.div__dropdownButton {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.recipe-card-hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Shadow for cards */
}